.contact-card {
  /* background: linear-gradient(to bottom right, #029bd2, #20c997); */
  border-radius: 1rem;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-list a:hover {
  text-decoration: underline;
}

.phoneIcons{
    font-size: 22px;
}
