.receiptDiv{
    
font-family: 'NotoNastaliqUrdu', Arial, sans-serif;
        direction: rtl;
        background-color: #fdf8f2;
        color: #333;
        padding: 20px;
}


.label {
          font-weight: bold;
          min-width: 70px;
          display: inline-block;
        }