.sidebar {
  min-height: 100vh;
  width: 250px;
  background: linear-gradient(to bottom right, #029bd2, #20c997);
  padding-top: 1rem;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  z-index: 100;
  max-height: 100vh;

}

.sidebar.collapsed {
  width: 1.5rem;
}

.sidebar.collapsed .nav-link span,
.sidebar.collapsed .menu-section-title {
  display: none;
}

.sidebar .nav-link {
  padding: 10px 20px;
  transition: background 0.3s ease;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff !important;
}

.sidebar-header {
  background: rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.mobile-nav {
  background: linear-gradient(to bottom right, #029bd2, #20c997);
}

.menu-section-title {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-top: 1px dotted rgba(255, 255, 255, 0.7);
  margin-top: 10px;
}

@media (min-width: 768px) {
  .sidebar {
    position: relative;
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}


.toggleDiv {
  padding: 0.5rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.toggleBtn {
  margin: 0 !important;
  font-size: 1.4rem !important;
  color: #fff !important; /* white icon */
  border: none !important;
  background: transparent !important;
  cursor: pointer;
}

.tgleBtnDiv {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: linear-gradient(to bottom right, #029bd2, #20c997); /* match sidebar theme */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.bellBtn{
  border-radius: 30%;
  font-size: 1.1rem !important;
}
.bellBtn2{
  height: 1.8rem !important;
  width: 1.9rem !important;
}

.tgleBtnDiv:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.tgleBtnIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifySign{
      width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: rgb(233, 12, 12);
    margin-left: -0.4rem;
    margin-top: -0.1rem;
  transition: all 0.3s ease;
  z-index: 100;
  }
.notifySign:hover {
  transform: scale(1.2);
}